@model List<UserViewModel>

<h2>User List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>UserName</th>
            <th>Action</th>
            <th>FullName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>@user.FullName</td>
                <td>
                    <a asp-action="Details" asp-route-id="@user.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@user.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
